/* 版面設計 */
body {
	width: 100%;
	height: 100%;
	margin: 12px 5px;
	font-family:Arial, '微軟正黑體', sans-serif;
}

.justify-content-center{
	width:960PX;
	height: AUTO;
	margin:auto;
	display: flex;
	list-style-type: none;
	float: inherit;
    justify-content: space-around;
	flex-flow:row wrap;
}


/* L-size bigger than 980px; M-size 640~979px; S-size smaller than 639px */

#container{
	width:960px;
	margin:20px;
}

header{
	margin-bottom:10px;
	overflow: hidden;
}

.gallery{
	margin: 10px 50px;
	justify-content: center;
}

.gallery img{
	width: 250px;
	height: auto;
	padding: 15px;
	
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}




/* overflow:hidden 將多的區塊隱藏，版面比較好看 */

#headerpost{
	margin-bottom:30px;
	overflow:hidden;
}

#content{
	margin-bottom:30px;
	overflow:hidden;
}
.post {
    float: left;
    width: 216px;
    margin-right: 32px;
    margin-bottom: 25px;
}

.post:last-child {
    margin-right: 0;
}

.post+.post+.post+.post {
    margin-right: 0;
}

footer{
	margin-bottom:30px;
}

















/* ### 細節設計 ###*/


/* HEADER LOGO */

#site{
	float:left;
}

#site h1 {
	margin:0;
}












/* vertical-align: bottom 對齊底部，比較好看 */


/* container設960，三分法原則，site img 設300-360都蠻好看的 */

#site img {
	vertical-align:bottom;
	width: 332px
}
















/* HEADER NAV */


/* 可用google font 尋找喜歡的瀏覽器字體 https://fonts.google.com/ */


/* padding和margin差異可看講義*/

nav{
	float: inherit;
	font-size: :24px;
	font-family: 'Dancing Script', cursive;
	padding-top:30px;
	
}


nav ul {
	margin: auto;
	padding: inherit;
		
}


ul{
	float: inherit;
	font-size: :24px;
	font-family: 'Dancing Script', cursive;
	padding-top:30px;
	
}











/* list-style-type: none 可把原本有序列表的點點取消*/

nav li{
	list-style-type: none;
	
}









/* 用CSS做選單!!!這邊先暫且依樣畫葫蘆，之後會教大家Bootstrap，就不用用CSS刻很久了*/


/*  display: block 每個連結字體以區塊顯示*/


/*  float: left margin-top 連結字體靠左向上對齊*/


/*  text-decoration: none 取消底線*/


/*  border-bottom: solid 3px transparent 製作一個透明的下底線*/


/*  color請參考CSS色碼對照表 https://www.toodoo.com/db/color.html */


nav li a {
	display:block;
	float:left;
	margin-left:20px;
	margin-top:20px;
	text-decoration:none;
	border-bottom:solid 3px transparent;
	color:#000000;
}

nav li a:hover {
    border-bottom-color: #ff1e97;
}

header {
    overflow: hidden;
}

#headerpost img {
    float: left;
    vertical-align: bottom;
    width: 620px;
}




/* ### HEADERPOST LEAD###*/

#headerpost #lead {
    float: left;
    width: 300px;
    color: #ffffff;
    margin-left: 25px;
}

#headerpost h2 {
    margin: 20px 0;
}

#headerpost .more {
    font-size: 18px;
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    text-align: right;
}

#headerpost .more a {
    color: #ffffff;
    background-image: url(Iceland%20website/img/more.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    padding: 10px 40px 10px 0;
    text-decoration: none;
}

#headerpost {
    background-color: #333333;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#888888));
    background: -webkit-linear-gradient(#000000 0%, #888888 100%);
    background: -moz-linear-gradient(#000000 0%, #888888 100%);
    background: -o-linear-gradient(#000000 0%, #888888 100%);
    background: -ms-linear-gradient(#000000 0%, #888888 100%);
    background: linear-gradient(#000000 0%, #888888 100%);
    overflow: hidden;
}







/* ### POST 圖文 ###*/

.post img {
    width: 216px;
    height: auto;
    vertical-align: bottom;
    border: none;
}

.post h2 {
    font-size: 16px;
    margin: 5px 0 0;
}

.post p {
    font-size: 12px;
    margin: 10px 0;
}

.post .data {
    float: left;
    margin: 0;
}

.post .more_s {
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Macen Pro', Helvetica, Arial, sans-serif;
    background-color: #666666;
    background-image: url(Iceland%20website/img/more.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    padding: 3px 25px 3px 5px;
    margin: 0;
}

.post a {
    color: #000000;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.post a:hover {
    background-color: #cfffb2
}


footer {
    background-color: #000000;
    padding: 5px;
}


footer p {
    float: left;
    margin-top: 10px;
    color: #ffffff
}

#iconmenu {
    float: right;
}

#iconmenu ul {
    margin: 0;
    padding: 3px 0 0;
}

#iconmenu li {
    display: inline;
    list-style-type: none;
}

#iconmenu img {
    border: none;
    width: 28px;
}





